.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(72, 194, 255);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}